html {
    background-color: #01151c;            /*網頁背景顏色*/
  }

h1 {                                        /*角色名稱*/        
    font-size: 60px;            
    text-align: center;                     /*字型位置(此處居中)*/
    line-height: 1;
    letter-spacing: 2px;                    /*間距*/
}
a {                                        /*技能字體 大小*/
    font-size: 30px;                        /*大小*/
    font-family: 'Noto Serif TC', serif;    /*字體*/
    line-height: 2;
}
p {                                        /*技能字體 大小*/
  font-size: 20px;                        /*大小*/
  font-family: 'Noto Serif TC', serif;    /*字體*/
  line-height: 2;
}

.red {
    color: red;

  }
.blue {
    color: blue;
  }

.image-container {
    display: flex; /* 使用弹性盒模型布局 */
    justify-content: space-between; /* 左右对齐，两张图片分别位于左右两侧 */
}

.image-container img {
    max-width: 95%; /* 图片最大宽度为容器的一半，以确保左右排列 */
}

.image-wrapper {
  display: flex;
  flex-direction: column; /* 设置元素内部为垂直方向布局 */
  align-items: center; /* 水平居中对齐 */
  text-align: center; /* 文本水平居中对齐 */
}

.image-wrapper img {
  width: 700px; /* 控制图片的宽度，可以根据需要调整 */
  height: 700px; /* 控制图片的高度，可以根据需要调整 */
  object-fit: cover; /* 保持图片比例并填充容器 */
}


.image-wrapper p {
  display: flex;
  flex-direction: column; /* 设置元素内部为垂直方向布局 */
  align-items: center; /* 水平居中对齐 */
  text-align: center; /* 文本水平居中对齐 */
  max-width: 500px; /* 限制文本的最大宽度，根据需要调整 */
  overflow: visible; /* 允许文本换行，而不隐藏溢出部分 */
  overflow-wrap: break-word; /* 在单词内允许换行 */
}

.center-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /*height: 100vh;  //设置容器高度占满整个视口 */
}
.center-container marquee {
  color: red; /* 设置文本颜色 */
  font-size: 20px;
  /* 添加其他样式属性，例如 behavior、direction、scrollamount 等 */
}

.skill-table {
  border-collapse: collapse; /* 合并边框 */
  width: 95%; /* 表格宽度占满容器 */
  border: 1px solid #ccc; /* 表格边框样式 */
}

.skill-table td {
  border: 1px solid #ccc; /* 单元格边框样式 */
  padding: 8px; /* 单元格内边距 */
  background-color: #f0f0f0; /* 表头背景色 */
}

.skill-table th {
  border: 1px solid #ccc; /* 单元格边框样式 */
  padding: 8px; /* 单元格内边距 */
  background-color: #f0f0f0; /* 表头背景色 */
}

.skill-table img {
  max-width: 50px; /* 控制技能图标的最大宽度 */
  height: auto; /* 根据宽度自动调整高度，以保持比例 */
}

img {
    /*
    置中
    display: block;
    margin: 0 auto;
    */
}
body {
    /* 此為需要兩層背景時所使用
    width: 600px;  //此背景寬度
    margin: 0 auto;//居中
    background-color: #ff9500;//此背景顏色
    padding: 0 20px 20px 20px;//設定上 右 下 左 與邊框的間距
    border: 5px solid black;//邊框寬度
    */
  }
